.bg-blue{
    background-color: #ddf5ff;
}

.form-check-input{
    margin-top: 5px;
    
}

.form-check-input:checked {
    
    background-color: #abd5e7;
    border-color: #0d6efd;
}

.radio-container {
    cursor: pointer;
  }


  
  .radio-container:hover {
    box-shadow: 0 0 12px #5bc2ee; /* Adjust the values as needed */
}



